/* Home.module.css */

.container {
    background-image: url('/beautiful.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5vh;
    color: #222;
  }
  
  .heading {
    font-size: 3.5em;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fff;
  }
  
  .description {
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #eee;
  }
  
  .getStartedButton {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
  }
  
  .getStartedButton:hover {
    background-color: #45a049;
  }
  
  .popup {
    margin-top: 20vh; /* Centered vertically a bit more */
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    width: 60%; /* Adjust width to make it more box-like */
    max-width: 500px; /* Maximum width */
    text-align: center;
    font-size: 1.2em; /* Larger font size */
  }
  
  .okayButton {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .okayButton:hover {
    background-color: #45a049;
  }